:root{
  --mainBlue:rgba(25, 17, 131, 0.911);
  --lightBlue:rgb(75, 140, 238);
  --mainWhite:rgb(238, 235, 235);
--mainDark: rgba(5, 5, 5, 0.829);
--mainYellow:rgba(243, 171, 14, 0.979);

}
body{
  font-family: 'Nanum Gothic', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.text-title{
  font-family: 'Bahianita', cursive;
  letter-spacing:0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color:var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);

}
.increment-decrement-button:hover{
 background:var(--mainDark);
 color:var(--mainWhite);
}